@mixin banner {
  width: 100%;
  position: relative;
  color: #fff;

  .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
  }

  img {
    width: 100%;
  }

  span {
    font-size: $bannerHeading;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }

  span.title {
    font-weight: normal;
    margin-bottom: 30px;
  }
}

@mixin clearFix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
